* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.preloader.hide {
  opacity: 0;
  visibility: hidden;
}

.preloader {
  width: 100%;
  height: 100vh;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 1;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

img {
  image-rendering: -webkit-optimize-contrast;
  /* image-rendering: optimizeSpeed; */
}

body {
  font-family: Open Sans;
  font-size: 16px;
  color: #556174;
}

.play-video-link {
  width: 383px;
  height: 27px;
  margin-top: 26px;
}

.play-video-link a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-video-link p {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 128%;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration-line: underline;
  color: #FFFFFF;
}

.play-video-link img {
  margin-right: 12px;
}



@media screen and (max-width: 490px) {
  body {
    font-size: 14px;
  }
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.wrapper {
  min-width: 100%;
  position: relative;
  overflow: hidden;
}

.container {
  padding: 0 10px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-container {
  display: flex !important;
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding: 0;
  }
}

section {
  padding-top: 64px;
}

.suptitle {
  font-family: Open Sans;
  font-size: 17px;
  text-transform: uppercase;
  color: #7171FF;
}

.title {
  font-family: Helvetica Neue;
  font-weight: bold;
  font-size: 58px;
  line-height: 71px;
  margin: 8px 0 16px 0px;
  color: #556174;
}

.title2 {
  font-family: Helvetica Neue;
  font-weight: bold;
  font-size: 31.25px;
  margin-bottom: 16px;
}

.description {
  color: #778190;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.logo_dark {
  color: #7171FF;
}

.logo_text-dark {
  color: #556174;
}

.logo .icon-logo-light {
  font-size: 22px;
}

.logo__text {
  font-family: Eina01-Bold;
  text-transform: uppercase;
  font-size: 23px;
  margin-left: 12px;
  margin-top: -2px;
}

.header .nav__list > .header__button:hover::before {
  visibility: hidden;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 25px 0;
  border-bottom: 1px solid rgba(234, 234, 234, 0.11);
  background: #7171FF;
  z-index: 20;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

.about-header {
  background: #fff;
  z-index: 20;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

.about-header .logo {
  color: #7171FF;
}

.about-header .inka-logo {
  background-image: url('/assets/images/inka-logo-blue.svg');
  background-size: 100%;
  transition: 0.2s;
  background-repeat: no-repeat;
  background-position: center;
}

.about-header .header__nav-link {
  color: #556174;
}


.header .nav__title {
  font-weight: bold;
  font-size: 21.25px;
  margin-bottom: 32px;
  width: auto;
}

.header .nav__title .icon-arrow {
  font-size: 14px;
  margin-left: 7px;
  color: #556174;
}

.header .nav .btn {
  padding: 13px 29px;
}

.header .nav a:hover .nav__title, .header .nav a:hover .item__title {
  color: #7171FF;
}

.header .nav__list {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  gap: 64px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.header .nav__list > li {
  position: relative;
}

.header .nav__list > li:hover::before {
  content: "\e909";
  color: #fff;
  font-family: icomoon;
  position: absolute;
  left: 50%;
  bottom: -20px;
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
}

.header .nav__list > li::after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: -20px;
  left: 0;
  height: 20px;
  background: transparent;
}

.header .nav__sub-menu {
  top: 38px;
  right: -50%;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-shadow: 5px 44px 63px 7px rgba(34, 60, 80, 0.2);
  box-shadow: 5px 44px 63px 7px rgba(34, 60, 80, 0.2);
  border-radius: 20px;
}

.header .nav__sub-menu a {
  color: #556174;
}

.header .nav__sub-menu li a {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  gap: 16px;
}

.header .nav__sub-menu li a .item__text {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  justify-items: start;
  gap: 4px;
  width: 295px;
}

.header .nav__sub-menu li a .item__title {
  font-weight: 600;
  font-size: 14px;
  color: #556174;
}

.header .nav__sub-menu li a p {
  font-size: 14px;
  color: rgba(101, 108, 108, 0.65);
}

.header .nav__sub-menu_company {
  right: 0;
}

.header .nav__sub-menu_company .nav__sub-menu-body {
  width: 200px;
}

.header .nav__sub-menu_company .nav__sub-menu-list {
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.header .nav__sub-menu_company a:hover .item__title::after {
  content: "\e900";
  margin-left: 63px;
  color: #7171FF;
  font-family: icomoon;
  font-size: 12px;
}

.header .nav__sub-menu_features {
  right: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.header .nav__sub-menu_features .nav__sub-menu-body {
  max-width: 1151px;
}

.header .nav__sub-menu_features .nav__sub-menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .nav__sub-menu_features .video {
  margin-top: -46px;
}

.header .nav__sub-menu_features .video__title {
  color: #556174;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 18px;
}

.header .nav__sub-menu_features .video__container {
  width: 391px;
  height: 221px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.header .nav__sub-menu_features .video__container iframe {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
}

.header .nav__sub-menu_features .video__container iframe .ytp-chrome-top {
  opacity: 0 !important;
}

.header .nav__sub-menu_investors {
  overflow: hidden;
}

.header .nav__sub-menu_investors .nav__sub-menu-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 8px;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.header .nav__sub-menu_investors .nav__title {
  margin-bottom: 16px;
}

.header .nav__sub-menu_investors .nav__title_mb {
  display: none;
}

.header .nav__sub-menu_investors li a {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header .nav__sub-menu_investors a:hover .item__title {
  color: #556174;
}

.header .nav__sub-menu_investors a:hover .item__title::after {
  content: "\e900";
  margin-left: 12px;
  color: #7171FF;
  font-family: icomoon;
  font-size: 12px;
}

.header .nav__sub-menu_investors a:hover .item__image {
  color: #7171FF;
}

.header .nav__sub-menu_investors .item__image {
  color: #9EA5B0;
}

.header .nav__sub-menu_investors .nav__email {
  background: #F7F7F9;
  border-radius: 0px 10px 9px 0px;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.header .nav__sub-menu_investors .nav__email p, .header .nav__sub-menu_investors .nav__email a {
  font-size: 14px;
  color: rgba(101, 108, 108, 0.65);
  margin-bottom: 18px;
}

.header .nav__sub-menu_investors .nav__email a {
  text-decoration: underline;
}

.header .nav__sub-menu_investors .nav__email .icon-envelope {
  margin-right: 8px;
}

.header .nav__sub-menu_investors .nav__email .nav__bg-investors {
  position: absolute;
  bottom: -20px;
  right: -20px;
}

.header .nav__sub-menu_investors .nav__sub-menu-list, .header .nav__sub-menu_investors .nav__email {
  padding: 19px;
}

.header .nav__sub-menu-body {
  padding: 32px 30px;
  background: #FBFBFE;
  -webkit-box-shadow: 0px 8px 8px -4px rgba(24, 39, 75, 0.08);
          box-shadow: 0px 8px 8px -4px rgba(24, 39, 75, 0.08);
  border-radius: 10px;
  width: 100vw;
  max-width: 754px;
}

.header .nav .nav__has-child:hover {
  cursor: pointer;
}

.header .nav__list-item:hover .nav__sub-menu {
  visibility: visible;
  opacity: 1;
}

.header .nav__sub-menu-list {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 24px;
  max-height: 261px;
}

.header.white {
  background: #fff;
}

.header.white .logo {
  color: #7171FF;
}

.header.white .header__button a {
  background: #7171FF;
  color: #FFFFFF !important;
}

.header.white .header__menu div, .header.white .header__menu::before, .header.white .header__menu::after {
  background: #7171FF;
}

.header.white .header__nav a {
  color: #556174;
}

.header .container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav-link {
  font-weight: 600;
  font-size: 16px;
  color: #fff;
}

.header__menu {
  display: none;
}

@media screen and (max-width: 1180px) {
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 25px;
    height: 17px;
    position: relative;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
  }
  .header__menu div {
    width: 25px;
    height: 2px;
    background: #fff;
  }
  .header__menu::before, .header__menu::after {
    width: 25px;
    height: 2.14px;
    background: #fff;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }
  .header__menu::before, .header__menu::after {
    content: "";
    position: absolute;
  }
  .header__menu::before {
    top: 0;
  }
  .header__menu::after {
    bottom: 0;
  }
  .header__menu.active div {
    display: none;
  }
  .header__menu.active::before {
    top: 7px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .header__menu.active::after {
    top: 7px;
    bottom: auto;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .header__nav {
    display: none;
    background: #FBFBFE !important;
  }
  /*-------------------------------------*/
  .header .nav__list > .header__button {
    display: none;
  }
  .nav_active {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 76px;
    left: 0;
    padding: 16px 9px;
    width: 100%;
    border-top: 1px solid rgba(234, 234, 234, 0.99);
    min-height: calc(100vh - 76px);
    overflow-y: scroll;
    overflow-x: hidden;
    background: #FBFBFE;
  }
  .nav_active .nav__list {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    gap: 0;
  }
  .nav_active .nav__has-child {
    padding: 8px 11px;
    position: static !important;
  }
  .nav_active .nav__has-child:hover .nav__sub-menu {
    visibility: hidden;
    opacity: 0;
  }
  .nav_active .nav__has-child.active {
    background: #7171FF;
    border-radius: 2px;
  }
  .nav_active .nav__has-child.active > a {
    color: #fff;
  }
  .nav_active .nav__has-child.active .nav__sub-menu {
    visibility: visible;
    opacity: 1;
  }
  .nav_active .nav__has-child .nav__sub-menu {
    width: 100%;
    max-width: none;
    left: 0;
    top: 60px;
    padding: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    background: #FBFBFE;
  }
  .nav_active .nav__has-child .nav__sub-menu_features {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  .nav_active .nav__has-child .nav__sub-menu_features .video {
    margin-top: 20px;
  }
  .nav_active .nav__has-child .nav__sub-menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav_active .nav__has-child .nav__sub-menu .nav__sub-menu-body {
    padding: 32px 20px;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav_active .nav__has-child .nav__sub-menu .nav__sub-menu-body .nav__sub-menu-list {
    max-height: none;
    padding: 0;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    grid-auto-flow: row;
    justify-items: start;
  }
  .nav_active .nav__has-child .nav__sub-menu .nav__email {
    margin-top: 24px;
    min-height: 234px;
    width: 100%;
  }
  .nav_active .nav__has-child .nav__sub-menu .nav__email .nav__bg-investors {
    bottom: 0;
    right: 0;
  }
  .nav_active .nav__has-child .nav__title_mb {
    display: block;
  }
  body.lock {
    overflow: hidden;
  }

}

/*
.first-screen{
    width: 100%;
    height: 100vh;
    background: $violet;
    
    .container{
        height: 100%;
        display: flex;
        align-items: flex-end;
    }

    &__content{
        align-self: center;
        color: #fff;
        flex-grow: 1;
    }

    .suptitle{
        color: #fff;
    }

    .title{
        text-transform: uppercase;
        max-width: 614px;
        color: #fff;
    }

    &__description{
        max-width: 490px;
        margin-bottom: 32px;
    }

    &__image{
        position: relative;
        width: 50%;
        height: 656px;

        img{
            width: 1030px;
            height: 656px;
            position: absolute;
            bottom: 0;
            left: -300px;
            pointer-events: none;
        }
    }

    &__btn{
        background: #fff;
        border: none;
        padding: 14px 26px;
        font-size: 16px;
        color: $violet;
        font-family: Helvetica Neue;
        font-weight: bold;
        border-radius: 4px;
        cursor: pointer;
        min-width: 179px;
    }

    .icon-paper{
        margin-right: 8px;
    }


}

@media screen and (max-width:1006px){
    .first-screen{
        padding-top: 163px;
        height: auto;
        
        .container{
            flex-direction: column;
        }

        &__content{
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        form{
            align-self: stretch;
            width: 100%;
        }
        &__btn{
            width: 100%;
        }
    }
}*/
@media screen and (max-width: 422px) {
  .header .nav__sub-menu_features .video__container {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 33.2px;
    line-height: 41px;
  }
  .suptitle {
    font-size: 12px;
  }
}

/*
@media screen and (max-width:850px){
    .first-screen{
        overflow: hidden;
        &__image{
           width: 100vw;
           margin-top: 73px;
           height: 461px;
           transform: translateY(40px);
           img{
               width: 100%;
               height: 100%;
               left: 10px;
               object-fit: cover;
               object-position: top;
           }
        }

        &__btn{
            align-self: stretch;
            
        }
    }
}*/
.save-your-time {
  padding-top: 64px;
}

.save-your-time .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.save-your-time .suptitle {
  color: #7171FF;
}

.save-your-time .description {
  max-width: 522px;
  margin-bottom: 48px;
}

.visible, .invisible {
  opacity: 0.0;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.visible {
  opacity: 1.0;
}

.banner {
  width: 100%;
  border-radius: 7px;
  padding: 56px 80px 49px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  position: relative;
  overflow: hidden;
}

.banner__content {
  text-align: start;
  max-width: 500px;
  width: 100%;
  position: relative;
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.banner__content .banner__image {
  height: 270px;
}

.banner__content .banner__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.banner__image {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  opacity: 0;
}

.banner__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.banner_portfolio, .banner__content {
  max-width: 622px;
}

.banner__suptitle {
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-size: 14px;
}

.banner__title {
  font-family: Helvetica Neue;
  font-weight: bold;
  font-size: 31.25px;
  line-height: 38px;
  margin: 16px 0;
  text-transform: uppercase;
  max-width: 465px;
}

.banner__subtitle {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 32px;
}

.banner__btn {
  position: relative;
  margin-top: auto;
  background: none;
  border: none;
  font-weight: bold;
  font-size: 17px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.banner__btn span {
  margin-left: 25px;
}

.banner .banner__image_bottom {
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: relative;
  width: 100%;
  max-width: 1px;
  height: 240px;
}

.banner .banner__image_bottom .banner__image_small {
  display: none;
}

.banner .banner__image_bottom img {
  width: auto;
  height: auto;
  position: absolute;
  bottom: -55px;
  right: 0;
}

.banner__slider {
  width: 100%;
  height: 200px;
  position: relative;
}

.banner__slider .slide {
  width: 100%;
  height: 100%;
}

.banner__slider .slide__image {
  margin-bottom: 20px;
}

.banner__slider .slide__title {
  font-family: Helvetica;
  margin-bottom: 16px;
}

.banner__slider .slide__subtitle {
  font-size: 14px;
  max-width: 180px;
}

.banner__slider .swiper-pagination {
  text-align: start;
}

.banner__slider .swiper-pagination-bullet {
  width: 7.2px;
  height: 7.18px;
  color: rgba(85, 97, 116, 0.26);
}

.banner__slider .swiper-pagination-bullet-active {
  color: #7171FF;
}

.banner__buttons {
  /* margin-top: 20px; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 350px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.banner__buttons a {
  margin-right: 24px;
}

.banner__buttons h2 {
  color: #FFFFFF;
  margin-bottom: 20px;
}

.banner_blue {
  background: #7171FF;
}

.banner_white {
  background: #F7F7F9;
  margin: 24px 0;
  color: #556174;
}

.banner_white .banner__suptitle {
  color: #7171FF;
}

.banner_white .banner__btn {
  color: #556174;
}

.banner_orange {
  background: #F7931A;
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.banner_gray {
  background: #556174;
}

.banner_gradient {
  background: linear-gradient(223.03deg, #7171FF 5.21%, #F68084 100%);
}

.two-banners {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  width: 100%;
  margin-bottom: 24px;
  gap: 22px;
}

.two-banners .banner {
  max-width: 590px;
}

@media screen and (max-width: 938px) {
  .banner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .banner__content {
    margin-bottom: 32px;
  }
  .banner .banner__image_bottom {
    width: auto;
    max-width: none;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    height: 100%;
  }
  .banner .banner__image_bottom .banner__image_small {
    display: block;
    bottom: 0;
  }
  .banner .banner__image_bottom .banner__image_big {
    display: none;
  }
  .banner .banner__image_bottom img {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .two-banners {
    grid-auto-flow: row;
  }
  .two-banners .banner {
    max-width: none;
  }
}

@media screen and (max-width: 530px) {
  .banner {
    padding: 32px;
  }
  .banner__suptitle {
    font-size: 12px;
  }
  .banner__title {
    font-size: 25px;
  }
}

.one-app {
  background: #FBFBFE;
  padding-bottom: 64px;
}

.one-app .title {
  margin-bottom: 66px;
}

.one-app .container {
  text-align: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 990px;
}

.one-app__brands {
  width: 100%;
  height: calc(100vw/2);
  max-height: 445px;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  position: relative;
  margin-bottom: 41px;
  gap: 15px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.one-app__brands-item {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  position: relative;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.one-app__brands-item img {
  position: absolute;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: contain;
     object-fit: contain;
}

.one-app__brands-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #7171FF;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.one-app__brands-item:nth-child(2) {
  background: #53DEE9;
  -webkit-transform: rotate(-7.52deg) translateY(-40px) translateX(-40px);
          transform: rotate(-7.52deg) translateY(-40px) translateX(-40px);
}

.one-app__brands-item:nth-child(3) {
  -webkit-transform: rotate(4.82deg) translateY(-30px);
          transform: rotate(4.82deg) translateY(-30px);
  border: 1px solid #E5E5E5;
}

.one-app__brands-item:nth-child(4) {
  -webkit-transform: rotate(-4.57deg) translateY(-30px);
          transform: rotate(-4.57deg) translateY(-30px);
}

.one-app__brands-item:nth-child(4), .one-app__brands-item:nth-child(8) {
  background: #1E1E1E;
}

.one-app__brands-item:nth-child(5) {
  background: linear-gradient(244.69deg, #B5519F 1.21%, #35B6C5 99.91%);
  -webkit-transform: rotate(5.66deg);
          transform: rotate(5.66deg);
}

.one-app__brands-item:nth-child(6) {
  background: #2081E2;
}

.one-app__brands-item:nth-child(7) {
  background: #FEDA03;
  -webkit-transform: rotate(6.55deg);
          transform: rotate(6.55deg);
}

.one-app__brands-item:nth-child(8) {
  -webkit-transform: rotate(2.9deg);
          transform: rotate(2.9deg);
}

.one-app__brands-item:nth-child(9) {
  -webkit-transform: rotate(7.98deg);
          transform: rotate(7.98deg);
  border: 1px solid #E5E5E5;
}

.one-app__brands-item:nth-child(10) {
  background: #F5BB50;
  -webkit-transform: rotate(-11.28deg) translateY(1rem) translateX(-2rem);
          transform: rotate(-11.28deg) translateY(1rem) translateX(-2rem);
}

.one-app__brands-item:nth-child(11) {
  -webkit-transform: rotate(9.32deg) translateY(20px);
          transform: rotate(9.32deg) translateY(20px);
  border: 1px solid #E5E5E5;
  background: white;
}

.one-app__brands-item:nth-child(12) {
  -webkit-transform: rotate(7.98deg) translateY(-20px);
          transform: rotate(7.98deg) translateY(-20px);
  border: 1px solid #E5E5E5;
  background: white;
}

.one-app__brands-item:nth-child(13) {
  -webkit-transform: rotate(-10.85deg) translateY(30px);
          transform: rotate(-10.85deg) translateY(30px);
  background: white;
  border: 1px solid #E5E5E5;
}

.one-app__logo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.one-app__logo img {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  opacity: 0;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.one-app__reviews {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.one-app__reviews .item {
  max-width: 295px;
  width: 100%;
  -webkit-box-shadow: 0px 8px 8px -4px rgba(24, 39, 75, 0.08);
          box-shadow: 0px 8px 8px -4px rgba(24, 39, 75, 0.08);
  border-radius: 5px;
  padding: 32px 16px;
  background: #fff;
  z-index: 10;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.one-app__reviews .item__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
}

.one-app__reviews .item__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 15.24px;
}

.one-app__reviews .item__title {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 2px;
}

.one-app__reviews .item__subtitle {
  font-weight: 600;
  font-size: 12px;
  color: #7171FF;
}

.one-app__reviews .item__text {
  font-weight: 600;
  font-size: 14px;
}

.one-app__reviews .item:nth-child(1) {
  position: relative;
  -webkit-transform: translateY(-350px) translateX(-100px);
          transform: translateY(-350px) translateX(-100px);
}

.one-app__reviews .item:nth-child(2) {
  position: relative;
  -webkit-transform: translateY(-100px) translateX(60px);
          transform: translateY(-100px) translateX(60px);
}

.one-app__reviews .item:nth-child(3) {
  position: relative;
  -webkit-transform: translateY(-410px) translateX(100px);
          transform: translateY(-410px) translateX(100px);
}

.one-app__description {
  margin-top: 22px;
  opacity: 0;
  position: relative;
}

.one-app__description .description {
  max-width: 586px;
  text-align: start;
}

.one-app__description .title2 {
  text-align: start;
}

@media screen and (max-width: 1200px) {
  .one-app__brands {
    gap: 1vw;
  }
}

@media screen and (max-width: 850px) {
  .one-app__reviews {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .one-app__reviews-item {
    margin-bottom: 32px;
    -webkit-transform: none !important;
            transform: none !important;
    opacity: 1 !important;
    max-width: none !important;
  }
  .one-app__brands-item img {
    width: calc((100% / 4.2)*0.9);
    height: auto;
  }
  .one-app__description {
    margin: 0 auto;
  }
  .title, .title2, .subtitle, .description {
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .one-app__logo img {
    width: 27.18px;
    height: 27.15px;
    -webkit-transform: none;
            transform: none;
  }
}

.all-assets .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.roadmap {
  text-align: center;
}

.roadmap .title2 {
  color: #7171FF;
  margin: 59px 0 30px 0;
  text-transform: uppercase;
}

.roadmap .container {
  position: relative;
  text-align: start;
}

.roadmap__check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.roadmap__check-title {
  font-weight: bold;
  font-size: 17px;
  color: #7171FF;
  margin-bottom: 20px;
}

.roadmap__check .icon-check {
  background: #E6E6E7;
  padding: 8px;
  border-radius: 3px;
  color: #fff;
}

.roadmap__check_one {
  position: absolute;
  left: 0;
  top: -65px;
}

.roadmap__check_two {
  -webkit-box-align: end !important;
      -ms-flex-align: end !important;
          align-items: flex-end !important;
  position: absolute;
  right: 0;
  top: -65px;
}

.roadmap__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.roadmap__phase {
  border-top: 7px dashed #E6E6E7;
  position: relative;
}

.roadmap__phase .roadmap__marker {
  position: absolute;
  top: -34px;
  left: -60px;
  z-index: 10;
}

.roadmap__phase:not(.roadmap__phase_one) .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 25px 16px;
}

.roadmap__phase:not(.roadmap__phase_one) .item {
  background: #F7F7F9;
  border-radius: 6px;
  padding: 24px 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #778190;
  position: relative;
  width: 100%;
}

.roadmap__phase:not(.roadmap__phase_one) .item__list-item {
  list-style: inside;
}

.roadmap__phase:not(.roadmap__phase_one) .item__list_al {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 8px 51px;
}

.roadmap__phase:not(.roadmap__phase_one) .item__list_al li {
  list-style: none;
  color: #7171FF;
}

.roadmap__phase:not(.roadmap__phase_one) .item p {
  max-width: 500px;
}

.roadmap__phase:not(.roadmap__phase_one) .item__icon {
  position: absolute;
  top: 0;
  right: 0;
  background: #E1E1FF;
  border-radius: 0px 6px 0px 30px;
  height: 71px;
  width: 98px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.roadmap__phase:not(.roadmap__phase_one) .item__suptitle {
  font-weight: 600;
  font-size: 14px;
  color: #7171FF;
  background: #E1E1FF;
  border-radius: 2px;
  padding: 3px 6px;
}

.roadmap__phase:not(.roadmap__phase_one) .item .title2 {
  color: #556174;
  margin: 8px 0 24px 0;
}

.roadmap__phase:not(.roadmap__phase_one) .item__brands-item {
  color: #556174;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 17px;
}

.roadmap__phase:not(.roadmap__phase_one) .item__brands-item img {
  margin-right: 10px;
}

.roadmap__phase .title2 {
  color: white;
  text-transform: none;
  margin: 0;
}

.roadmap__phase .container {
  padding-top: 61px;
}

.roadmap__phase_one {
  border: none;
  color: #fff;
}

.roadmap__phase_one .roadmap__marker {
  left: calc((100vw - 1200px)/2 + 80px);
  content: "";
}

.roadmap__phase_one::before {
  content: "";
  width: calc((100vw - 1200px) / 2);
  height: 20px;
  top: 0;
  right: 0;
  position: absolute;
  border-top: 7px dashed #7171FF;
}

.roadmap__phase_one .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr, 1fr, minmax(1fr, 325px);
      grid-template-columns: 1fr, 1fr, minmax(1fr, 325px);
  -ms-grid-rows: (0.5fr)[3];
      grid-template-rows: repeat(3, 0.5fr);
  grid-column-gap: 17px;
  grid-row-gap: 17px;
  position: relative;
  border-top: 7px dashed #7171FF;
}

.roadmap__phase_one .roadmap__title {
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 600;
  text-align: start;
  margin-bottom: 24px;
}

.roadmap__phase_one .roadmap__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.roadmap__phase_one .roadmap__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 18px;
}

.roadmap__phase_one .roadmap__list-item img {
  margin-right: 12px;
}

.roadmap__phase_one .roadmap__phase-item {
  background: #7171FF;
  padding: 32px;
  border-radius: 9px;
}

.roadmap__phase_one .roadmap__phase-item:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 3 / 2;
}

.roadmap__phase_one .roadmap__phase-item:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 2 / 3;
}

.roadmap__phase_one .roadmap__phase-item:nth-child(2) img {
  margin-left: 10px;
}

.roadmap__phase_one .roadmap__phase-item:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 3 / 3;
}

.roadmap__phase_one .roadmap__phase-item:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 3 / 3 / 3 / 1;
}

.roadmap__phase_one .roadmap__phase-item:nth-child(4) ul {
  margin-top: 16px;
}

.roadmap__phase_one .roadmap__phase-item:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: 3 / 1 / 4 / 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: auto;
}

.roadmap__phase_one .roadmap__phase-item:nth-child(5) .title2 {
  margin: 0 16px;
}

.roadmap__phase_one .icon-check {
  background: #7171FF;
}

@media screen and (max-width: 1200px) {
  .roadmap__check_one {
    left: 10px;
  }
  .roadmap__check_two {
    right: 10px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .roadmap__phase_one .roadmap__marker {
    left: 25%;
  }
}

@media screen and (max-width: 1174px) {
  .roadmap__phase_two .item_fixed-height2 {
    -webkit-transform: translate(0) !important;
            transform: translate(0) !important;
  }
  .roadmap__logos {
    margin-top: 16px;
  }
  .roadmap__logos img:first-child {
    margin-left: 0 !important;
  }
  .roadmap__phase:not(.roadmap__phase_one) .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 1148px) {
  .roadmap .title2 {
    font-size: 25px;
  }
  .roadmap__phase:not(.roadmap__phase_one) .container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .roadmap__phase_one .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .roadmap__phase_one .container .roadmap__phase-item {
    margin: 10px 0;
  }
  .roadmap__phase_one .container .title2 {
    text-align: start;
    /* margin-bottom: 11px; */
    font-size: 25px;
  }
  .roadmap__line {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .roadmap .roadmap__phase_one .container .roadmap__phase-item:nth-child(5) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .roadmap .roadmap__phase_one .container .roadmap__phase-item:nth-child(5) .title2 {
    margin: 16px 0 4px 0;
  }
  .roadmap .roadmap__phase_one .container .roadmap__phase-item:nth-child(5) p:first-child {
    font-size: 17px;
  }
}

@media screen and (max-width: 574px) {
  .roadmap__phase:not(.roadmap__phase_one) .item .title2 {
    text-align: start;
    font-size: 25px;
  }
  .roadmap__phase:not(.roadmap__phase_one) .item__icon {
    width: 59px;
    height: 42.74px;
  }
  .roadmap__phase:not(.roadmap__phase_one) .item__icon img {
    -o-object-fit: contain;
       object-fit: contain;
    width: 30px;
    height: 30px;
  }
  .roadmap__phase_one .roadmap__marker {
    left: -50px;
  }
}

@media screen and (max-width: 374px) {
  .roadmap .item__list_al {
    -ms-grid-columns: 1fr !important;
        grid-template-columns: 1fr !important;
  }
}

.use-all-benefits .banner {
  padding: 0;
  border-radius: 0;
}

.use-all-benefits .banner__image {
  position: relative;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.use-all-benefits .banner__image img {
  height: 100%;
  width: 100%;
}

.use-all-benefits .container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media screen and (max-width: 356px) {
  .use-all-benefits .banner__buttons {
    display: -ms-grid;
    display: grid;
    grid-auto-flow: row;
    gap: 5px;
  }
}

@media screen and (max-width: 854px) {
  .use-all-benefits .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .use-all-benefits .banner {
    padding-top: 31px;
  }
  .use-all-benefits .banner__image {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .use-all-benefits .banner__image img {
    width: 100%;
    height: 100%;
  }
  .use-all-benefits .banner__title, .use-all-benefits .banner__subtitle {
    text-align: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-left: auto;
    margin-right: auto;
  }
}

.cta {
  padding: 0;
  position: relative;
}

.cta .container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cta__social {
  padding-top: 72px;
}

.cta__social .title2 {
  margin-bottom: 32px;
}

.cta__list {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -ms-grid-columns: 131px 145px;
      grid-template-columns: 131px 145px;
  -ms-grid-rows: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
  grid-column-gap: 34px;
}

.cta .cta__list-item {
  margin-bottom: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cta .cta__list-item::after {
  content: "\e900";
  font-family: icomoon;
  color: #7171FF;
  font-size: 12px;
  margin-left: auto;
}

.cta .cta__list a {
  color: #7171FF;
  font-size: 17px;
  font-family: Open Sans;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cta .cta__list a img {
  margin-right: 19px;
}

.cta .cta__list a span {
  margin-right: 19px;
}

.cta__sign-up {
  width: 100%;
  max-width: 650px;
  padding: 72px 52px;
  padding-right: 0;
  position: relative;
  z-index: 1;
}

.cta__sign-up::before {
  content: "";
  width: 1000px;
  height: 100%;
  position: absolute;
  background: #F7F7F9;
  top: 0;
  left: 0;
  z-index: -1;
  margin-left: -10px;
}

.cta .description {
  max-width: 271px;
}

.cta__form {
  margin-top: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cta__form_error .cta__input {
  border-bottom: 1px solid #E85858;
  color: #E85858;
}

.cta__honeypot {
  visibility: hidden;
  position: absolute;
}

.cta__error {
  color: #E85858;
  font-size: 17px;
  padding-left: 29px;
  margin-top: 23px;
  position: relative;
  visibility: hidden;
}

.cta__error::before, .cta__error::after {
  content: "";
  position: absolute;
  left: 0;
  top: 11px;
  width: 14px;
  height: 2px;
  background: #E85858;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.cta__error::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.cta__error div {
  margin-top: 16px;
}

.cta__input {
  width: 100%;
  max-width: 504px;
  font-family: Open Sans;
  border: none;
  background: none;
  border-bottom: 1px solid #556174;
  padding: 11px 0 21px 0;
  font-size: 17px;
  outline: none;
}

.cta__btn {
  width: 56px;
  height: 56px;
  color: white;
  background: #7171FF;
  outline: none;
  border: none;
  border-radius: 3px;
  font-size: 20px;
}

.cta__img-for-bg {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

@media screen and (max-width: 970px) {
  .cta .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cta .title2, .cta .description {
    text-align: start;
  }
}

@media screen and (max-width: 570px) {
  .cta__sign-up {
    padding-bottom: 198px;
  }
  .cta .container > div {
    padding-left: 10px;
  }
  .cta__img-for-bg {
    top: auto;
    bottom: 0;
    right: 5px;
    -webkit-transform: scale(-1, 1) rotate(90deg) translateX(10px);
            transform: scale(-1, 1) rotate(90deg) translateX(10px);
  }
}

.footer__top {
  padding: 80px 0;
  border-top: 1px solid rgba(85, 97, 116, 0.08);
}

.footer__top .container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__title {
  margin-bottom: 29.5px;
  font-family: Helvetica Neue;
  font-size: 17px;
}

.footer__social li:first-child a:last-child {
  margin-top: 2px;
}

.footer__social a {
  color: #556174 !important;
  font-size: 18px;
}

.footer__list-item {
  margin-bottom: 24px;
  font-size: 14px;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -webkit-column-gap: 1px;
          column-gap: 1px;
          
}

.footer__list-item a {
  color: #778190;
  font-family: Helvetica Neue;
}

.footer__list-item img {
  position: relative;
  /* top: 4px; */
  margin-left: 4px;
}

.footer__bottom {
  background: #F7F7F9;
  padding: 32px 0;
  font-size: 14px;
}

.footer__bottom .copyright {
  margin-right: 46px;
}

.footer__bottom a {
  color: #88909E;
}

.footer .footer__dot {
  color: #88909E;
  margin: 0 20px;
  font-size: 15px;
}

.footer .icon-Medium::before {
  position: relative;
  display: inline-block;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

@media screen and (max-width: 710px) {
  .footer__top .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .footer .logo {
    margin-bottom: 40px;
  }
  .footer__title {
    margin-top: 20px;
    font-family: Helvetica Neue;
  }
  .footer__social {
    width: 100%;
  }
  .footer__social div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__social div li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .footer__social div li:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 33%;
    justify-content: center;
  }

  .footer__social div .footer__list-item a {
    margin: 0;
  }
  .footer__bottom .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__bottom .copyright {
    margin: 0;
    margin-top: 16px;
  }
}

/*about-us*/
.about-us {
  padding-top: 170px;
}

.about-us .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.about-us .title {
  margin-bottom: 64px;
}

.about-us__image {
  margin-bottom: 65px;
}

.about-us__image img {
  width: 100%;
  height: 100%;
  border-radius: 7px;
}

.about-us__our-mission {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  background: #FBFBFE;
  padding: 113px 80px 113px 80px;
  text-align: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about-us__our-mission .title2 {
  text-transform: uppercase;
}

.about-us .description {
  max-width: 472px;
}

.our-team .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.our-team .title {
  margin-bottom: 68px;
}

.our-team__items {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.our-team .item {
  max-width: 261px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.our-team .item__image {
  width: 160px;
  height: 160px;
  border-radius: 105px;
  margin-bottom: 48px;
  position: relative;
}

.our-team .item__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.our-team .item__title {
  font-weight: bold;
  font-size: 17px;
  color: #3A3A3A;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.our-team .item__role {
  font-weight: 600;
  font-size: 16px;
  color: #7171FF;
  margin-bottom: 17px;
}

.our-team .item__description {
  font-size: 16px;
  color: #706F6F;
  margin-bottom: 25px;
}

.our-team .item__exp {
  font-size: 14px;
  color: #706F6F;
}

.our-team .item__exp span {
  color: #7171FF;
}

.our-team .item__social {
  margin-top: auto;
  padding-top: 24px;
}

.our-team .item__social span {
  background: #7171FF;
  padding: 9px;
  border-radius: 2px;
  color: #fff;
}

@media screen and (max-width: 1063px) {
  .our-team .item {
    margin-bottom: 62px;
  }
}

@media screen and (max-width: 841px) {
  .about-us__our-mission {
    padding-left: 0;
    padding-right: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding: 48px 20px 73px 20px;
  }
}

@media screen and (max-width: 535px) {
  .our-team__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.cookies {
  position: fixed;
  bottom: 10px;
  left: 10px;
  width: 100%;
  height: 100%;
  max-width: 360px;
  max-height: 168px;
  background: #fff;
  -webkit-box-shadow: 0px 12px 24px -6px rgba(96, 96, 96, 0.15), 0px 0px 1px rgba(96, 96, 96, 0.1);
          box-shadow: 0px 12px 24px -6px rgba(96, 96, 96, 0.15), 0px 0px 1px rgba(96, 96, 96, 0.1);
  border-radius: 6px;
  padding: 16px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.cookies.show {
  visibility: visible;
  z-index: 100;
  opacity: 1;
  pointer-events: all;
}

.cookies__title {
  font-weight: 500;
  font-size: 16px;
  font-family: Helvetica Neue;
  color: black;
  margin-bottom: 8px;
}

.cookies p {
  font-size: 14px;
  color: #585858;
  margin-bottom: 16px;
}

.cookies img {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 6px 0 0;
}

.cookies__buttons {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -webkit-column-gap: 8px;
          column-gap: 8px;
}

.cookies__btn {
  padding: 8px 0;
  font-family: Open Sans;
  line-height: 16px;
  font-weight: 500;
  border: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
}

.cookies .btn-accept {
  background: #7171FF;
  color: white;
}

.cookies .btn-close {
  background: #DCDCFA;
  color: #7171FF;
}

@media screen and (max-width: 374px) {
  .cookies {
    left: 0;
    bottom: 0;
    padding-bottom: 20px;
  }
}

.modal-join {
  width: 100%;
  position: fixed;
  left: 0;
  top: 87px;
  background: #FDC98B;
  z-index: 19;
  padding: 13px 0;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  opacity: 1;
  display: flex;
  justify-content: center;
} 

.modal-join .container {
  width: 100%;
  display: flex;
  justify-content: stretch;
}

.modal-join__text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  color: #556174;
  width: 100%;
}

.modal-join__text a {
  color: #7171FF;
  cursor: border;
}

.modal-join .container {
  position: relative;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1043px;
}

.modal-join__close {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  cursor: pointer;
}

@media screen and (max-width: 1178px) {
  .modal-join {
    top: 77px;
  }
}

@media screen and (max-width: 712px) {
  .modal-join__text {
    display: block;
    /* white-space: nowrap; */
    /* max-width: 202px; */
    overflow: hidden;
  }
}

@media screen and (max-width: 486px) {
  .modal-join .container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 20px;
  }
}

.first-screen {
  padding-top: 77px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 793px;
}

.first-screen__left {
  width: 50.8vw;
  background: #7171FF;
  padding-left: calc((100vw - 1215px)/2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.first-screen__right {
  width: 50.5vw;
  background: #E1E1FF;
}

.first-screen__title {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.first-screen__title span.reverted {
  color: #7171FF;
  background: #E1E1FF;
  padding: 10px;
  border-radius: 3px;
  margin-left: -10px;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.first-screen__subtitle {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.9);
  max-width: 516px;
  margin-bottom: 32px;
}

.first-screen__buttons {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -webkit-column-gap: 24px;
          column-gap: 24px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.first-screen__ani {
  max-width: 696px;
  height: 100%;
  position: relative;
}

.first-screen .ani {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  pointer-events: none;
}

.first-screen .ani__images img {
  position: absolute;
}

.first-screen .ani__images img:nth-child(1) {
  top: 0;
  left: 0;
}

.first-screen .ani__images img:nth-child(2) {
  top: 0;
  right: 0;
}

.first-screen .ani__images img:nth-child(3) {
  bottom: 0;
  left: 0;
}

.first-screen .ani__images img:nth-child(4) {
  bottom: 0;
  right: 0;
}

.first-screen .ani__wheel {
  position: relative;
}

.first-screen .ani__wheel .round {
  position: absolute;
  width: 110.46px;
  height: 111.33px;
  border-radius: 100px;
  border: 6px solid #556174;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 5;
}

.first-screen .ani__wheel .round:nth-child(3) {
  top: -38px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #E1E1FF;
  -webkit-animation: 8s 0.4s coloredCoin1 infinite linear;
          animation: 8s 0.4s coloredCoin1 infinite linear;
}

.first-screen .ani__wheel .round:nth-child(4) {
  top: 46px;
  right: -23px;
  background: #FDC98B;
  -webkit-animation: 8s  1.8s coloredCoin2 infinite linear;
          animation: 8s  1.8s coloredCoin2 infinite linear;
}

.first-screen .ani__wheel .round:nth-child(5) {
  top: 211px;
  right: -23px;
  background: #FDF1D5;
  -webkit-animation: 8s  3s coloredCoin3 infinite linear;
          animation: 8s  3s coloredCoin3 infinite linear;
}

.first-screen .ani__wheel .round:nth-child(6) {
  bottom: -50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #B9C7E9;
  -webkit-animation: 8s  4.2s coloredCoin4 infinite linear;
          animation: 8s  4.2s coloredCoin4 infinite linear;
}

.first-screen .ani__wheel .round:nth-child(7) {
  top: 211px;
  left: -29px;
  background: #94E6DB;
  -webkit-animation: 8s  5.3s coloredCoin5 infinite linear;
          animation: 8s  5.3s coloredCoin5 infinite linear;
}

.first-screen .ani__wheel .round:nth-child(8) {
  top: 46px;
  left: -28px;
  background: #FAD9D9;
  -webkit-animation: 8s  6.8s coloredCoin6 infinite linear;
          animation: 8s  6.8s coloredCoin6 infinite linear;
}

.first-screen .ani .coin {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-36px, -39px);
          transform: translate(-36px, -39px);
  z-index: 3;
  -webkit-animation: linear 8s coin-animation infinite;
          animation: linear 8s coin-animation infinite;
}

.btn {
  background: #FBFBFE;
  border-radius: 4px;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #7171FF;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 17px 33px;
}

.btn .icon {
  margin-right: 5px;
}

.btn_light {
  background: none;
  color: white;
  border: 2px solid #FFFFFF;
  padding: 17px 40px;
}

@-webkit-keyframes coin-animation {
  0% {
    -webkit-transform: translate(-36px, -39px);
            transform: translate(-36px, -39px);
  }
  7.69% {
    -webkit-transform: translate(-36px, -190px);
            transform: translate(-36px, -190px);
  }
  15.38% {
    -webkit-transform: translate(-36px, -39px);
            transform: translate(-36px, -39px);
  }
  23.07% {
    -webkit-transform: translate(110px, -122px);
            transform: translate(110px, -122px);
  }
  30.76% {
    -webkit-transform: translate(-36px, -39px);
            transform: translate(-36px, -39px);
  }
  38.45% {
    -webkit-transform: translate(116px, 43px);
            transform: translate(116px, 43px);
  }
  46.14% {
    -webkit-transform: translate(-36px, -39px);
            transform: translate(-36px, -39px);
  }
  53.83% {
    -webkit-transform: translate(-36px, 143px);
            transform: translate(-36px, 143px);
  }
  61.52% {
    -webkit-transform: translate(-36px, -39px);
            transform: translate(-36px, -39px);
  }
  69.21% {
    -webkit-transform: translate(-198px, 43px);
            transform: translate(-198px, 43px);
  }
  76.9% {
    -webkit-transform: translate(-36px, -39px);
            transform: translate(-36px, -39px);
  }
  87.69% {
    -webkit-transform: translate(-198px, -121px);
            transform: translate(-198px, -121px);
  }
  100% {
    -webkit-transform: translate(-36px, -39px);
            transform: translate(-36px, -39px);
  }
}

@keyframes coin-animation {
  0% {
    -webkit-transform: translate(-36px, -39px);
            transform: translate(-36px, -39px);
  }
  7.69% {
    -webkit-transform: translate(-36px, -190px);
            transform: translate(-36px, -190px);
  }
  15.38% {
    -webkit-transform: translate(-36px, -39px);
            transform: translate(-36px, -39px);
  }
  23.07% {
    -webkit-transform: translate(110px, -122px);
            transform: translate(110px, -122px);
  }
  30.76% {
    -webkit-transform: translate(-36px, -39px);
            transform: translate(-36px, -39px);
  }
  38.45% {
    -webkit-transform: translate(116px, 43px);
            transform: translate(116px, 43px);
  }
  46.14% {
    -webkit-transform: translate(-36px, -39px);
            transform: translate(-36px, -39px);
  }
  53.83% {
    -webkit-transform: translate(-36px, 143px);
            transform: translate(-36px, 143px);
  }
  61.52% {
    -webkit-transform: translate(-36px, -39px);
            transform: translate(-36px, -39px);
  }
  69.21% {
    -webkit-transform: translate(-198px, 43px);
            transform: translate(-198px, 43px);
  }
  76.9% {
    -webkit-transform: translate(-36px, -39px);
            transform: translate(-36px, -39px);
  }
  87.69% {
    -webkit-transform: translate(-198px, -121px);
            transform: translate(-198px, -121px);
  }
  100% {
    -webkit-transform: translate(-36px, -39px);
            transform: translate(-36px, -39px);
  }
}

@-webkit-keyframes coloredCoin1 {
  0% {
    background: #E1E1FF;
  }
  4% {
    background: #7171FF;
  }
  6.777% {
    background: #E1E1FF;
  }
  /* 1s */
  80% {
    background: #E1E1FF;
  }
}

@keyframes coloredCoin1 {
  0% {
    background: #E1E1FF;
  }
  4% {
    background: #7171FF;
  }
  6.777% {
    background: #E1E1FF;
  }
  /* 1s */
  80% {
    background: #E1E1FF;
  }
}

@-webkit-keyframes coloredCoin2 {
  0% {
    background: #FDC98B;
  }
  3% {
    background: #F7941F;
  }
  6.777% {
    background: #FDC98B;
  }
  /* 1s */
  80% {
    background: #FDC98B;
  }
}

@keyframes coloredCoin2 {
  0% {
    background: #FDC98B;
  }
  3% {
    background: #F7941F;
  }
  6.777% {
    background: #FDC98B;
  }
  /* 1s */
  80% {
    background: #FDC98B;
  }
}

@-webkit-keyframes coloredCoin3 {
  0% {
    background: #FDF1D5;
  }
  3% {
    background: #F0B90B;
  }
  6.777% {
    background: #FDF1D5;
  }
  /* 1s */
  80% {
    background: #FDF1D5;
  }
}

@keyframes coloredCoin3 {
  0% {
    background: #FDF1D5;
  }
  3% {
    background: #F0B90B;
  }
  6.777% {
    background: #FDF1D5;
  }
  /* 1s */
  80% {
    background: #FDF1D5;
  }
}

@-webkit-keyframes coloredCoin4 {
  0% {
    background: #B9C7E9;
  }
  3% {
    background: #172854;
  }
  6.777% {
    background: #B9C7E9;
  }
  /* 1s */
  80% {
    background: #B9C7E9;
  }
}

@keyframes coloredCoin4 {
  0% {
    background: #B9C7E9;
  }
  3% {
    background: #172854;
  }
  6.777% {
    background: #B9C7E9;
  }
  /* 1s */
  80% {
    background: #B9C7E9;
  }
}

@-webkit-keyframes coloredCoin5 {
  0% {
    background: #94E6DB;
  }
  3% {
    background: #44FFE6;
  }
  6.777% {
    background: #94E6DB;
  }
  /* 1s */
  80% {
    background: #94E6DB;
  }
}

@keyframes coloredCoin5 {
  0% {
    background: #94E6DB;
  }
  3% {
    background: #44FFE6;
  }
  6.777% {
    background: #94E6DB;
  }
  /* 1s */
  80% {
    background: #94E6DB;
  }
}

@-webkit-keyframes coloredCoin6 {
  0% {
    background: #FAD9D9;
  }
  3% {
    background: #E84142;
  }
  6.777% {
    background: #FAD9D9;
  }
  /* 1s */
  80% {
    background: #FAD9D9;
  }
}

@keyframes coloredCoin6 {
  0% {
    background: #FAD9D9;
  }
  3% {
    background: #E84142;
  }
  6.777% {
    background: #FAD9D9;
  }
  /* 1s */
  80% {
    background: #FAD9D9;
  }
}

@media screen and (max-width: 1234px) {
  .first-screen__left {
    padding-left: 20px;
  }
}

@media screen and (max-width: 838px) {
  .modal-join__close {
    right: 20px;
  }
  .first-screen {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 123px;
    background: #7171FF;
    height: auto;
  }
  .first-screen__left, .first-screen__right {
    width: 100%;
    height: 388px;
  }
  .first-screen__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .first-screen__subtitle {
    font-size: 14px;
    max-width: 341px;
  }
  .first-screen__right {
    height: 540px;
  }
  .first-screen__right .ani {
    width: 100%;
    max-width: none;
  }
}

@media screen and (max-width: 486px) {
  .first-screen__title {
    font-size: 31px;
  }
  .first-screen__title span.reverted {
    margin-left: -6px;
  }
  .first-screen__subtitle {
    text-align: center;
  }
  .first-screen__left {
    padding-left: 20px;
    padding-right: 20px;
  }
  .first-screen__right {
    height: 389px;
  }
  .first-screen__buttons {
    grid-auto-flow: row;
    row-gap: 8px;
    width: 100%;
  }
  .first-screen__buttons .btn {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .first-screen .ani__wheel {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
  .first-screen .ani__images img {
    height: 63px;
  }
}

.roadmap__phase_two .item {
  padding-bottom: 53px !important;
}

.roadmap__phase_two .item p {
  font-weight: 600;
  color: #556174;
}

.roadmap__phase_two .item p a {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #7171FF;
}

.roadmap__phase_two .item .item__brands-item {
  color: #556174;
  font-size: 24px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.roadmap__phase_two .item__brands {
  margin: 24px 0 51px 0;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  row-gap: 32px;
  -webkit-column-gap: 64px;
          column-gap: 64px;
}

.phase_three .container {
  -ms-grid-columns: auto minmax(100px, 409px) !important;
      grid-template-columns: auto minmax(100px, 409px) !important;
  -webkit-column-gap: 22px !important;
          column-gap: 22px !important;
}

.phase_three .roadmap__right {
  max-width: 409px;
  display: -ms-grid;
  display: grid;
  row-gap: 17px;
}

.phase_three .roadmap__right p {
  max-width: 297px !important;
}

.phase_three .roadmap__left {
  display: -ms-grid;
  display: grid;
  width: 100%;
  row-gap: 24px;
}

.phase_three .roadmap .item p {
  color: #778190 !important;
  font-weight: 600;
}

.phase_three .roadmap__steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.phase_three .roadmap__steps .item {
  background: none;
  padding: 0;
  position: relative;
}

.phase_three .roadmap__steps .item .arrow {
  position: absolute;
}

.phase_three .roadmap__steps .item:nth-child(1) .arrow {
  right: 12px;
  top: 30px;
}

.phase_three .roadmap__steps .item:nth-child(2) .arrow {
  right: 9px;
  top: 63px;
}

.phase_three .roadmap__steps .item__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 63px;
  margin-top: auto;
}

.phase_three .roadmap__steps .item__number {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #7171FF;
}

.phase_three .roadmap__steps .item__desc {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  color: #556174;
  max-width: 182px !important;
  margin-left: 6px;
  margin-top: 3px;
}



@media screen and (max-width: 1040px) {
  .phase_three .container {
    -ms-grid-columns: 1fr !important;
        grid-template-columns: 1fr !important;
  }
  .phase_three .roadmap__right {
    max-width: none;
  }
}

@media screen and (max-width: 736px) {
  .phase_three .roadmap__steps {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 67px;
  }
  .phase_three .roadmap__steps .item__desc {
    max-width: 268px !important;
    margin-top: 0;
  }
  .phase_three .roadmap__steps .item__text {
    margin-top: 24px;
  }
  .phase_three .roadmap__steps .item .arrow {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    right: auto !important;
    left: 60px;
    top: auto !important;
    bottom: -50px;
  }
}

@media screen and (max-width: 648px) {
  .roadmap__marker {
    width: 32.03px;
    height: 32px;
    top: -20px !important;
  }
  .roadmap__phase_two .item {
    padding: 26px 13px !important;
  }
  .roadmap__phase_two .item__brands {
    -webkit-column-gap: 11px;
            column-gap: 11px;
    row-gap: 18px;
  }
  .roadmap__phase_two .item__brands-item {
    font-size: 16px;
  }
  .roadmap__phase_two .item__brands-item img {
    width: 32px;
    height: 32px;
  }
  .roadmap__phase_two .item p {
    font-size: 14px;
  }
}

@media screen and (max-width: 648px) {
  .roadmap__phase_two .item {
    padding: 26px 13px !important;
  }
  .roadmap__phase_two .item__brands {
    -webkit-column-gap: 11px;
            column-gap: 11px;
    row-gap: 18px;
    grid-auto-flow: row;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 282px) {
  .roadmap__phase_two .item__brands {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}
/*# sourceMappingURL=style.css.map */


/* modificators */

.item__brand_flex {
  display: flex !important;
  flex-wrap: wrap;
  align-items: center;
}

.item__brands-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center !important;
  max-width: 150px;
  min-width: 150px;
}

.modal-join__text {
  margin: 0 20px;
}

.inka-logo {
  width: 26px;
  height: 17px;
  background-image: url('/assets/images/inka-logo.svg');
  background-size: 100%;
  transition: 0.2s;
}

.blue-logo {
  background-image: url('/assets/images/inka-logo-blue.svg');
}

.inlined{
  display: flex;
  justify-content: flex-start;
}

.inlined h2 {
  padding: 0 16px 0 16px;
  height: 35px;
}

.inlined p {
  height: 35px;
  display: flex;
  align-items: flex-end;
}

#staking_image{
  width: 43px;
  height: 41px;
}

#farming_image{
  width: 36px;
  height: 39px;
}

#banner_orange_fix{
  margin-top: 0;
}

.line_break{
  width: 100%;
  height: 20px;
}


.fordesctop {
  display: flex;
}
.formobile {
  display: none;
}

.social_footer a {
  width: 20px;
  height: 20px;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#beta_new_img {
  top: 4px;
}

.about-footer .inka-logo {
  background-image: url('/assets/images/inka-logo-blue.svg');
}
.about-footer .logo__text {
  color: #556174;
}

@media screen and (max-width: 1180px) {
  
  .fordesctop{
    display: none !important;
  }
  .formobile{
    display: flex !important;
  }

  /* .banner__buttons img {
    width: 165px;
    height: 58px;
  } */
}

@media screen and (max-width: 1148px) {
  
  .inlined{
    flex-wrap: wrap;
  }

  .inlined h2 {
    padding: 0;
    width: 100%;
  }

  .inlined p {
    height: 35px;
    display: flex;
    align-items: flex-end;
  }

}



@media screen and (max-width: 375px) {
  .modal-join__close {
    right: 6px;
  }
}

.privacy-policy {
  margin-top: 190px;
  width: 100%;
  display: flex;
  justify-content: center;
  color: #778190;
}

.privacy-policy .contacts {
  margin: 24px 0;
}

.docs-container {
  max-width: 1248px;
  font-family: 'Open Sans';
  line-height: 24px;
  font-weight: 700;
  margin: 0 24px;
}

.privacy-policy h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 50px;
}

.privacy-policy h4 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 24px 0;
}

.privacy-policy p {
  font-size: 16px;
  font-weight: 400;
}

.privacy-policy p strong {
  font-size: 16px;
  font-weight: bold;
}

.privacy-policy ul{
  margin: 24px 0;
}

.privacy-policy ul li{
  list-style: inside;
  margin-left: 16px;
  font-weight: 400;
}

.privacy-policy .courcive {
  margin-top: 24px;
  margin-bottom: 12px;
  font-style: italic;
}